@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,700,italic);
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,800);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

[class*="_Icon-"]:before {
  font-family: "Icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smootings: antialiased;
  -moz-osx-font-smoothings: grayscale;
}

[class*="_Icon-"]:before {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #FCFCFF;
  height: 100%;
}

.page {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #131316;
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "Open Sans";
  line-height: 1;
}

._Container {
  max-width: 131rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

._Ibg {
  position: relative;
}

._Ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.1rem;
  padding: 0.2rem 3rem;
  font-family: Inter;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 150%;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.05rem;
  text-align: center;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.75);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8.4rem;
  padding: 2rem 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: block;
  color: #fff;
  font-size: 2.8rem;
  font-weight: 600;
  font-family: Inter;
  position: relative;
}

.header__logo span {
  color: #4AE290;
  font-size: 1.8rem;
}

.header__logo img {
  margin-top: 0.3rem;
  margin-right: -0.3rem;
}

.buttons-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.buttons-header__button {
  min-height: 4.2rem;
}

.buttons-header__button:not(:last-child) {
  margin-right: 1.6rem;
}

.buttons-header__button:hover {
  background-color: #4AE290;
}

@media (max-width: 1280px) {
  .buttons-header__button {
    padding: 0.2rem 1rem;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__elem {
  line-height: calc(18 / 16 * 100%);
  padding: 1rem;
}

.menu__elem:not(:last-child) {
  margin-right: 1.2rem;
}

.menu__link {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  font-family: Inter;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
  padding: 0.1rem 1rem;
}

.menu__link:hover {
  color: #131316;
  background-color: rgba(255, 255, 255, 0.9);
}

.menu__link--active {
  color: #131316;
  background-color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 1280px) {
  .menu__elem {
    padding: 0.5rem;
  }
  .menu__elem:not(:last-child) {
    margin-right: 0.6rem;
  }
  .menu__link {
    padding: 0.1rem 0.3rem;
  }
}

.fitness {
  background-color: #131316;
}

.fitness__container {
  max-width: 103.8rem;
  position: relative;
}

.fitness__image {
  position: absolute;
  width: 55%;
  height: 100%;
  right: 0;
  top: 0;
}

.fitness__gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(19, 19, 22, 0.2)), to(rgba(19, 19, 22, 0.2)));
  background-image: linear-gradient(0deg, rgba(19, 19, 22, 0.2), rgba(19, 19, 22, 0.2));
}

.fitness__content {
  padding: 25.2rem 0 17rem 0;
  max-width: 52rem;
  position: relative;
  z-index: 2;
}

.fitness__content > *:not(:last-child) {
  margin-bottom: 3.2rem;
}

.fitness__title {
  font-family: Inter;
  font-weight: 800;
  font-size: 6rem;
  line-height: calc(65 / 60 * 100%);
  color: #fff;
}

.fitness__title span {
  color: #4AE290;
}

.fitness__text {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: calc(34 / 24 * 100%);
  color: #DEDEE3;
}

.buttons-fitness {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.buttons-fitness__button {
  min-height: 4.6rem;
  font-size: 1.4rem;
  color: #131316;
  background-color: #fff;
}

.buttons-fitness__button:not(:last-child) {
  margin-right: 1.6rem;
}

.buttons-fitness__button:hover {
  background-color: #4AE290;
  color: #fff;
}

.title-block {
  font-family: Inter;
  font-weight: 800;
  font-size: 5rem;
  text-align: center;
  color: #131316;
  padding: 3rem 0;
  position: relative;
  z-index: 2;
}

.title-block span {
  color: #4AE290;
}

.mission__container {
  max-width: 103.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mission__content {
  max-width: 76.8rem;
  padding: 14rem 0;
  position: relative;
}

.mission__content > *:not(:last-child) {
  margin-bottom: 3.2rem;
}

.mission__title {
  text-align: start;
  padding-left: 5rem;
}

.mission__image {
  position: absolute;
  width: 15rem;
  height: 10.5rem;
  left: 0;
  top: 13.5rem;
}

.mission__text {
  font-weight: 500;
  font-size: 2rem;
  line-height: calc(32 / 20 * 100%);
  color: #595962;
}

.mission__text p {
  margin-bottom: 2.1rem;
}

.buttons-mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.buttons-mission__button {
  font-size: 1.4rem;
  padding: 0rem;
  color: #131316;
  margin-right: 1rem;
}

.buttons-mission__button:hover {
  text-decoration: underline;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.95rem;
  height: 2rem;
  background-color: #131316;
  color: #fff;
  border-radius: 50%;
  font-size: 1.6rem;
  cursor: pointer;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

.arrow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.training {
  margin-bottom: 10rem;
}

.training > *:not(:last-child) {
  margin-bottom: 9rem;
}

.training__container {
  max-width: 103.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.training__image {
  position: absolute;
  width: 10.6rem;
  height: 10rem;
  top: 0;
  left: -4rem;
}

.training__title {
  margin-left: 4rem;
}

.buttons-training {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 7.5rem;
}

.buttons-training > *:not(:last-child) {
  margin-right: 3.2rem;
}

.buttons-training span {
  width: 2.95rem;
  height: 3rem;
}
