%ic {
    font-family: "Icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smootings: antialiased;
    -moz-osx-font-smoothings: grayscale; 
}

[class*="_Icon-"] {
    &:before {
        @extend %ic;
        display: block;
    }
}