//! Colors

$white: #fff;
$black: #000;

$primaryColor: #131316;
$secondaryColor: #595962;

$mainColor: rgba(19, 19, 22, 0.05);
$mainGreen: #4AE290;


//! Proportions

$widthContainer: 128rem;

//! BreakPoints

$bp-1: 1280px;